@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.x42-autotune{{{cns}}} {
    background-image:url(/resources/x42-fat1.png{{{ns}}});
    background-position:center center;
    background-repeat:no-repeat;
    background-size:421px 431px;
    border-radius: 21px;
    height:431px;
    position:absolute;
    width:421px;
}

/* = Labels
================================================ */
.x42-autotune{{{cns}}} .x42-brand {
    bottom: 50px;
    cursor:default;
    left: 40px;
    position:absolute;
    text-align:center;
    width: 25px;
}

.x42-autotune{{{cns}}} .x42-brand h1 {
    color:#aaa;
    font-family:"Nexa";
    font-size:28px;
    margin:0;
    padding:0;
    text-shadow: -2px 2px 2px #444;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.x42-autotune{{{cns}}} .x42-plugin-name {
    bottom:48px;
    overflow:hidden;
    position:absolute;
    right:38px;
    text-align:center;
    text-shadow: 0 0 1px #ccc;
}

.x42-autotune{{{cns}}} .x42-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
}

/* = LIGHT ON/OFF
================================================ */
.x42-autotune{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    bottom:95px;
    height:32px;
    left:20px;
    position:absolute;
    right:20px;
}

/* = FOOTSWITCH
================================================ */
.x42-autotune{{{cns}}} .mod-footswitch {
    background-image:url(/resources/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 39px;
    cursor:pointer;
    height:66px;
    left: 20px;
    margin: auto;
    position:absolute;
    right: 20px;
    width: 66px;
}

.x42-autotune{{{cns}}} .mod-footswitch.on {
    background-position: top center !important;
}


/* = KNOBS
================================================ */
.x42-autotune{{{cns}}} .mod-control-group {
    margin:20px 20px 5px 20px !important;
    position:relative;
    text-align:center;
    z-index:30;
}
.x42-autotune{{{cns}}} .top {
    margin-top:0px !important;
}

.x42-autotune{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.x42-autotune{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:12px;
    cursor:default;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
}

.x42-autotune{{{cns}}} .mod-control-group .mod-knob .mod-knob-value {
    bottom:0px;
    font-size:11px;
    left:0;
    line-height:1;
    position:absolute;
    right:0;
    z-index:60;
}

.x42-autotune{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/aluminium.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin:0 auto;
}

.x42-autotune{{{cns}}} .mod-control-group .mod-knob {
    display:inline-block;
    height:88px;
        margin: 1px 5px;
}

/* = TOP-Row (enum + pitch-error bars)
================================================ */
.x42-autotune{{{cns}}} .at-toprow {
    height:31px;
    margin:20px auto 5px auto !important;
    width:300px;
    z-index:35;
}

.x42-autotune{{{cns}}} .pitcherror,
.x42-autotune{{{cns}}} .mod-enumerated-group {
    height:31px;
    margin:0 10px 0 10px;
    position:relative;
    width:130px;
    float:left;
}

.x42-autotune{{{cns}}} .pitcherror,
.x42-autotune{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background-color:rgba(0,0,0,.3);
    box-shadow:inset 0 0 4px rgba(0,0,0,.3);
    border-radius:4px;
}

/* = Pitch Error display
================================================ */
.x42-autotune{{{cns}}} .pitcherror {
    background-image:url(/resources/pitcherror.png{{{ns}}});
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
}

.x42-autotune{{{cns}}} .pitcherror .bar {
    background:#00ff00;
    box-shadow: 0px 0px 0px 1px #000;
    position:absolute;
    width:3px;
    margin:0;
    padding:0;
    height:31px;
    top:0px;
    left:63px;
}

.x42-autotune{{{cns}}} .pitcherror .bar.bad {
    background:#ff0000;
}

/* = ENUMERATED LIST
================================================ */

.x42-autotune{{{cns}}} .mod-enumerated {
    background-image:url(/resources/dropdown-arrow-black.png{{{ns}}});
    background-position:right center;
    background-repeat:no-repeat;
    font-size:11px;
    font-weight:bold;
    left:0;
    line-height:2;
    overflow:hidden;
    position:absolute;
    right:0;
    text-align:center;
}

.x42-autotune{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    padding:3px 9px;
}

.x42-autotune{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background-color:rgba(0,0,0,.9);
    color:#fff;
    display:none;
    height:115px;
    overflow:auto;
    position:relative;
}

.x42-autotune{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.x42-autotune{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:rgba(255,255,255,.2);
    cursor:pointer;
}

/* = Piano
================================================ */
.x42-autotune{{{cns}}} .pianokeyboard {
    background-color:black;
    margin: 5px auto;
    position:relative;
    overflow:hidden;
    padding:0 0 2px 3px;
    width:368px;
}

.x42-autotune{{{cns}}} .pianokeyboard .key {
    float: left;
    box-shadow: 0 2px 2px 1px #999 inset;
}

.x42-autotune{{{cns}}} .pianokeyboard .active,
.x42-autotune{{{cns}}} .pianokeyboard .active:after {
    background-image:url(/resources/active_note.png{{{ns}}});
    background-position:center bottom 10px;
    background-repeat:no-repeat;
}

.x42-autotune{{{cns}}} .pianokeyboard .active:after {
    background-size:20px 20px;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-black.off.midion::after,
.x42-autotune{{{cns}}} .pianokeyboard .active.on:after {
    background-position:center bottom 7px;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-black.on.midioff::after {
    background-position:center bottom 10px !important;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-white {
    background-color:#fff;
    border-radius: 0 0 4px 4px;
    height: 140px;
    margin: 0 2px 2px 0;
    position: relative;
    width: 50px;
    z-index:50;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-white.on.midioff {
    background-color:#fff;
    box-shadow: 0 2px 2px 1px #999 inset;
    top: 0px;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-white.midion,
.x42-autotune{{{cns}}} .pianokeyboard .key-white.on {
    background-color: #efedee;
    box-shadow: 2px 2px 3px 1px #999 inset, -3px 2px 3px 1px #999 inset;
    top: -1px;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-black {
    width: 0;
    margin: 0;
}


.x42-autotune{{{cns}}} .pianokeyboard .key-black.off.midion:after,
.x42-autotune{{{cns}}} .pianokeyboard .key-black.on::after {
    background-color:#3c3c3c;
    border-radius: 0 0 4px 4px;
    box-shadow: -1px 0 1px 0 #666, 1px  0px 3px 0 #888, 0 5px 0 3px #000, 0px 3px 3px 1px #000 inset;
    content: "";
    display: block;
    height: 84px;
    position: relative;
    width: 30px;
    left: -16px;
    top: -2px;
    z-index:51;
}

.x42-autotune{{{cns}}} .pianokeyboard .key-black.on.midioff:after,
.x42-autotune{{{cns}}} .pianokeyboard .key-black.off::after {
    background-color:#444;
    border-radius: 0 0 4px 4px;
    box-shadow: -2px 1px 2px 0px #ddd, 1px 1px 0px 1px #444, 0 3px 0 3px #000, 2px 0px 3px 0px #999 inset, -3px 0px 3px 0px #333 inset;
    content: "";
    display: block;
    height: 86px;
    position: relative;
    width: 30px;
    left: -16px;
    top: -2px;
    z-index:51;
}

/* = COLORS
================================================ */
.x42-autotune{{{cns}}} h1,
.x42-autotune{{{cns}}} .mod-enumerated,
.x42-autotune{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.x42-autotune{{{cns}}} h1 {
    border-color:black;
}
