@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}}.x42-autotune {
    background-image:url(/resources/x42-fat1.png{{{ns}}});
    background-position:center center;
    background-repeat:no-repeat;
    background-size:421px 431px;
    border-radius: 21px;
    height:431px;
    position:absolute;
    width:421px;
}

/* = Labels
================================================ */
.mod-pedal-boxy{{{cns}}}.x42-autotune .x42-brand {
    left: 40px;
    position:absolute;
    text-align:center;
    bottom: 50px;
    width: 25px;
    cursor:default;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .x42-brand h1 {
    font-family:"Nexa";
    font-size:28px;
    padding:0;
    margin:0;
    color:#aaa;
    transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
    text-shadow: -2px 2px 2px #444;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .x42-plugin-name {
    overflow:hidden;
    position:absolute;
    right:38px;
    text-align:center;
    bottom:48px;
    text-shadow: 0 0 1px #ccc;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .x42-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:20px;
    right:20px;
    position:absolute;
    bottom:95px;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-light {
  top:120px;
}


/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-footswitch {
    background-image:url(/resources/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 39px;
    cursor:pointer;
    height:66px;
    left: 20px;
    right: 20px;
    margin: auto;
    position:absolute;
    width: 66px;
}
.mod-pedal-boxy{{{cns}}} .mod-footswitch.on {
    background-position: top center !important;
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
    margin:20px 20px 5px 20px !important;
    position:relative;
    text-align:center;
    z-index:30;
}
.mod-pedal-boxy{{{cns}}} .top {
    margin-top:0px !important;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:12px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
    cursor:default;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-control-group .mod-knob .mod-knob-value {
    bottom:0px;
    font-size:11px;
    position:absolute;
    line-height:1;
    left:0;
    right:0;
    z-index:60;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/aluminium.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin:0 auto;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-control-group .mod-knob {
    display:inline-block;
    height:88px;
		margin: 1px 5px;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-enumerated-group {
    height:31px;
    margin:20px auto 0 !important;
    position:relative;
    width:190px;
    z-index:35;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-enumerated-group,
.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-enumerated-group {
    margin-bottom:5px !important;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-enumerated-group {
    width:250px;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-enumerated {
    background-image:url(/resources/dropdown-arrow-black.png{{{ns}}});
    background-position:right center;
    background-repeat:no-repeat;
    font-size:11px;
    font-weight:bold;
    left:0;
    line-height:2;
    overflow:hidden;
    position:absolute;
    right:0;
    text-align:left;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background-color:rgba(0,0,0,.3);
    box-shadow:inset 0 0 4px rgba(0,0,0,.3);
    border-radius:4px;
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background-color:rgba(0,0,0,.9);
    color:#fff;
    display:none;
    height:115px;
    overflow:auto;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.mod-pedal-boxy{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:rgba(255,255,255,.2);
    cursor:pointer;
}

/* = Piano
================================================ */

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard {
	background-color:black;
	margin: 5px auto;
	position:relative;
	overflow:hidden;
	padding:0 0 2px 3px;
	width:368px;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key {
	float: left;
	box-shadow: 0 2px 2px 1px #999 inset;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .active,
.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .active:after {
	background-image:url(/resources/active_note.png{{{ns}}});
	background-position:center bottom 10px;
	background-repeat:no-repeat;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .active:after {
	background-size:20px 20px;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black.off.midion::after,
.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .active.on:after {
	background-position:center bottom 7px;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black.on.midioff::after
{
	background-position:center bottom 10px !important;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-white {
	background-color:#fff;
	border-radius: 0 0 4px 4px;
	height: 140px;
	margin: 0 2px 2px 0;
	position: relative;
	width: 50px;
	z-index:50;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-white.on.midioff
{
	background-color:#fff;
	box-shadow: 0 2px 2px 1px #999 inset;
	top: 0px;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-white.midion,
.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-white.on {
	background-color: #efedee;
	box-shadow: 2px 2px 3px 1px #999 inset, -3px 2px 3px 1px #999 inset;
	top: -1px;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black {
	width: 0;
	margin: 0;
}


.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black.off.midion::after,
.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black.on::after {
	background-color:#3c3c3c;
	border-radius: 0 0 4px 4px;
	box-shadow: -1px 0 1px 0 #666, 1px  0px 3px 0 #888, 0 5px 0 3px #000, 0px 3px 3px 1px #000 inset; // , -3px 2px 3px 0px #666 inset;
	content: "";
	display: block;
	height: 84px;
	position: relative;
	width: 30px;
	left: -16px;
	top: -2px;
	z-index:51;
}

.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black.on.midioff::after,
.mod-pedal-boxy{{{cns}}}.x42-autotune .pianokeyboard .key-black.off::after {
	background-color:#444;
	border-radius: 0 0 4px 4px;
	box-shadow: -2px 1px 2px 0px #ddd, 1px 1px 0px 1px #444, 0 3px 0 3px #000, 2px 0px 3px 0px #999 inset, -3px 0px 3px 0px #333 inset;
	content: "";
	display: block;
	height: 86px;
	position: relative;
	width: 30px;
	left: -16px;
	top: -2px;
	z-index:51;
}

/* = COLORS
================================================ */


.mod-pedal-boxy{{{cns}}}.x42-autotune h1,
.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-enumerated,
.mod-pedal-boxy{{{cns}}}.x42-autotune .mod-control-group .mod-knob > span.mod-knob-title
{
    color:black;
}
.mod-pedal-boxy{{{cns}}}.x42-autotune h1
{
    border-color:black;
}
